// Colours
$primary-color: #ffbf5e;
$secondary-color: #263238;
$primary-color-rbg: rgba(255, 191, 94, 0.4);
$white: #ffffff;

// Fonts & font sizes
$heading: 3.4rem;
$secondary-heading: 3rem;
$main-font: "Poppins", sans-serif;
$medium-weight: 500;
$bold: 600;
$bolder: 700;

// Elements
$border-radius: 20px;
$box-shadow: 0px 6px 10px rgba(255, 191, 94, 0.2);
$border-radius-right: 80px;
